<div class="addtask">
    <form id="addtask_form" action="/add" method="POST">
        <input id="addtask_text" name="text" type="text" placeholder="todo task" required>
        <input id="addtask_button" name="add" type="submit" value="Add">
    </form>
</div>
<div class="messages">
    {{#if messages}}
        <p class="error_msg">{{messages.error}}</p>
        <p class="info_msg">{{messages.info}}</p>
    {{/if}}
</div>

<div class="tasklist">
    {{#each tasks}}
        <p>{{@index}}: <a href="task/{{this._id}}"></a> {{this.text}}</p>

        <form action="/done" method="POST" class="done_form">
            <input type="hidden" name="_id" value="{{this._id}}">
            <input class="done_button" type="submit" name="done" value="Done">
        </form>

        <form action="/delete" method="POST" class="delete_form">
            <input type="hidden" name="_id" value="{{this._id}}">
            <input class="delete_button" type="submit" name="delete" value="Delete">
        </form>

    {{else}}
        <p>No tasks to do!</p>
    {{/each}}
</div>
<div class="alldone">
    {{#if tasks}}
        <form action="/alldone" method="POST">
            <input class="all_done_button" type="submit" value="Everything is done!">
        </form>
    {{/if}}
</div>