<div class="addtask">
    <form id="addtask_form" action="/add" method="POST">
        <input id="addtask_text" name="text" type="text" placeholder="todo task">
        <input id="addtask_button" name="add" type="submit" value="Add">
    </form>
</div>

<div class="tasklist">
    {{#each tasks}}
        <p>{{@index}}: {{this.text}}</p>

        <form action="/done" method="POST" class="done_form">
            <input type="hidden" name="_id" value="{{this._id}}">
            <input class="done_button" type="submit" name="done" value="Done">
        </form>

        <form action="/delete" method="POST" class="delete_form">
            <input type="hidden" name="_id" value="{{this._id}}">
            <input class="delete_button" type="submit" name="done" value="Done">
        </form>
    {{else}}
        <p>No tasks to do!</p>
    {{/each}}
</div>